@import '../variables';

.select2-container--nodered {
    font-family: $primary-font;

    @import 'single';
    @import 'multiple';

    &.select2-container--open.select2-container--above {
        .select2-selection--single,
        .select2-selection--multiple {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &.select2-container--open.select2-container--below {
        .select2-selection--single,
        .select2-selection--multiple {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .select2-search--dropdown {
        background-color: $list-item-background;

        .select2-search__field {
            background-color: $form-background;
            border: 1px solid $form-input-border-color;
            color: $list-item-color;

            &:focus {
                outline-color: #555;
                border-color: $form-input-border-color-focus;
                outline: 0;
            }
        }
    }

    .select2-search--inline {
        .select2-search__field {
            background: transparent;
            border: none;
            outline: 0;
            box-shadow: none;
            -webkit-appearance: textfield;
        }
    }

    .select2-results > .select2-results__options {
        max-height: 200px;
        overflow-y: auto;
        background-color: $list-item-background;
    }

    .select2-results__option {
        color: $form-text-color;
        font-size: 14px;

        .select2-results__option {
            padding-left: 1em;

            .select2-results__group {
                padding-left: 0;
            }

            .select2-results__option {
                margin-left: -1em;
                padding-left: 2em;

                .select2-results__option {
                    margin-left: -2em;
                    padding-left: 3em;

                    .select2-results__option {
                        margin-left: -3em;
                        padding-left: 4em;

                        .select2-results__option {
                            margin-left: -4em;
                            padding-left: 5em;

                            .select2-results__option {
                                margin-left: -5em;
                                padding-left: 6em;
                            }
                        }
                    }
                }
            }
        }

        .sublabel {
            color: $secondary-text-color;
            font-size: smaller;
            margin: 4px 0;
        }
    }

    .select2-results__option--group {
        padding: 0;
    }

    .select2-results__option--disabled {
        color: #999;
    }

    .select2-results__option--selected {
        background-color: $list-item-background-selected;
    }

    .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: $list-item-background-hover;
        color: $list-item-color;

        .sublabel {
            color: $list-item-secondary-color;
        }
    }

    .select2-results__group {
        cursor: default;
        display: block;
        padding: 6px;
    }

    .select2-dropdown {
        border-color: $form-input-border-color;
    }
}
