{
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.json", "*.md", "*.yaml", "*.yml"],
            "options": { "tabWidth": 2, "singleQuote": false }
        },
        {
            "files": "*.handlebars",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
