#versionUpdate {
  padding: 0.5em;
  margin-bottom: 1em;
}

#versionUpdate p {
  margin: 0;
}

#versionUpdate strong {
  padding-right: 5px;
}

#errorIfState {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}

.checkboxOption input {
  margin-left: 105px;
  display: inline-block;
  width: auto;
  vertical-align: baseline;
}

.checkboxOption label {
  width: auto;
  margin-right: 20px;
}

.node_label_legacy {
  fill: #fdfd96;
  stroke-width: 0;
  font-size: 14px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
