#version-update {
  padding: 0.5em;
  margin-bottom: 1em;
}

#version-update p {
  margin: 0;
}

#version-update strong {
  padding-right: 5px;
}

#error-if-state {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}

.form-row.checkbox-option input {
  margin-left: 105px;
  margin-right: 5px;
  display: inline-block;
  width: auto;
  vertical-align: top;
}

.form-row.checkbox-option label {
  width: auto;
}

.form-row.checkbox-option-left input {
  display: inline-block;
  margin-right: 5px;
  width: auto;
  vertical-align: top;
}

.form-row.checkbox-option-left label {
  width: auto;
  margin-right: 20px;
}

.ha-node-label-legacy {
  fill: #fdfd96;
  stroke-width: 0;
  font-size: 14px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li span.property-type {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #666;
  font-style: italic;
  font-size: 11px;
  float: right;
}

.ha-alert-box {
  padding: 10px;
  margin-bottom: 10px;
}
