#days-of-the-week {
    margin-left: 30px;

    input {
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
        width: auto;
    }

    label {
        width: auto;
    }
}
