<div class="ha-list-filter">
    <select>
        <option value="__all__"></option>
        {{#each types}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</div>
