<ul class="ha-list">
    {{#each list}}
    <li class="ha-list-row" data-id="{{this.id}}" data-type="{{this.type}}">
        <div class="ha-list-row-name">{{this.name}}</div>
        <div class="ha-list-row-count">{{this.count}}</div>
    </li>
    {{/each}}
</ul>
