<div id="ha-issue-header">
    <input type="checkbox" id="ha-issues-toggle-hidden" checked />
    <label for="ha-issues-toggle-hidden">{{i18n 'home-assistant.sidebar.issues.show_hidden'}}</label>
</div>
<ul class="ha-issues-list ha-show-hidden"></ul>
