$alpha-background-color: #e78bb9;
$alpha-text-color: #702323;
$beta-background-color: #77dd77;
$beta-text-color: #853e3d;
$home-assistant-color: #41bdf5;

$primary-font: var(--red-ui-primary-font);
$primary-font-size: var(--red-ui-primary-font-size);
$primary-text-color: var(--red-ui-primary-text-color);
$secondary-text-color: var(--red-ui-secondary-text-color);
$form-background: var(--red-ui-form-background);
$form-text-color: var(--red-ui-form-text-color);
$form-text-color-disabled: var(--red-ui-form-text-color-disabled);
$form-input-border-color: var(--red-ui-form-input-border-color);
$form-input-border-color-focus: var(--red-ui-form-input-border-selected-color);
$form-placeholder-color: var(--red-ui-form-placeholder-color);
$list-item-color: var(--red-ui-list-item-color);
$list-item-secondary-color: var(--red-ui-list-item-secondary-color);
$list-item-background: var(--red-ui-list-item-background);
$list-item-background-disabled: var(--red-ui-list-item-background-disabled);
$list-item-background-hover: var(--red-ui-list-item-background-hover);
$list-item-background-selected: var(--red-ui-list-item-background-selected);
$list-item-border-selected: var(--red-ui-list-item-border-selected);
