#red-ui-header li.ha-notification {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    vertical-align: middle;

    svg {
        vertical-align: middle;
        display: inline-block;
        line-height: 1;
    }

    #notification-issues {
        display: inline-block;
        color: var(--red-ui-text-color-warning);
        cursor: pointer;
        padding-left: 0.3125rem;

        &:hover {
            color: var(--red-ui-debug-message-border-warning);
        }

        .ha-issue-count {
            font-size: 1.5rem;
            vertical-align: middle;
            display: inline-block;
            line-height: 1;
        }

        i {
            font-size: 1.25rem;
            vertical-align: middle;
            display: inline-block;
            line-height: 1;
            padding-top: 0.125rem;
        }
    }
}
