#ha-social-bar {
    align-items: center;
    border-bottom: 1px dashed var(--red-ui-primary-border-color);
    display: flex;
    font-size: 0.9em;
    justify-content: right;
    margin-bottom: 8px;
    padding-bottom: 2px;

    a {
        cursor: pointer;
        line-height: 10px;
    }

    span {
        padding: 0 5px;
    }
}
