name: CI

on:
  pull_request:
  push:
    branches: main
    paths:
      - "docs/nodes/**"
      - "examples/**"
      - "src/**"
      - "ui/**"
      - "test/**"
      - ".npmignore"
      - "package*.json"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12, 14, 16]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: npm install
        run: npm ci
      - name: npm lint
        run: npm run lint
      - name: npm test
        run: npm test
        env:
          CI: true

  release-please:
    if: github.event_name == 'push'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          package-name: node-red-contrib-home-assistant-websocket
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"docs","section":"Documentation","hidden":false}]'
          bump-minor-pre-major: true
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: npm
      - run: npm ci
      - id: publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.npm_token }}
        if: ${{ steps.release.outputs.release_created }}
      - run: |
          echo "Version changed: ${{ steps.publish.outputs.old-version }} => ${{ steps.publish.outputs.version }}"
        if: steps.publish.outputs.type != 'none'
      - name: npm next release
        uses: epeli/npm-release@v1
        with:
          type: prerelease
          token: ${{ secrets.npm_token }}
        if: ${{ !steps.release.outputs.release_created }}
