# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "38 6 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - uses: actions/stale@v6
        with:
          days-before-issue-stale: 30
          stale-issue-message: >
            This issue has been automatically marked as abandoned because it has not had
            recent activity. It will be closed if no further activity occurs. Thank you
            for your contributions.
          exempt-issue-labels: "Type: Bug, Type: Refactoring, Type: Documentation, Type: Feature"
